body {
    background: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .triangle {
      position: absolute;
      text-align: left;
      border-top-right-radius: 12%;
  }
  .triangle::before,
  .triangle::after {
      content: '';
      position: absolute;
      background-color: inherit;
      border-top-right-radius: 12%;
  }
  .triangle {
      transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
  }
  .triangle::before {
      transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .triangle::after {
      transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }
  
  #t1 {
      background-color: rgb(0, 0, 0);
      left: 600px;
      top: 1350px;
  }
  #t1,
  #t1::before,
  #t1::after {
      width:  50px;
      height: 50px;
  }
  
  #t2 {
      background-color: rgb(191, 191, 191);
      left: 884px;
      top: 1361.67px;
  }
  #t2,
  #t2::before,
  #t2::after {
      width:  36px;
      height: 36px;
  }
  
  #t3 {
      background-color: rgb(191, 191, 191);
      left: 945px;
      top: 1361.67px;
  }
  #t3,
  #t3::before,
  #t3::after {
      width:  36px;
      height: 36px;
  }
  
  #t4 {
      background-color: rgb(191, 191, 191);
      left: 360px;
      top: 1361.67px;
      transform: rotate(-30deg) skewX(-30deg) scale(1,.866);
  }
  #t4,
  #t4::before,
  #t4::after {
      width:  36px;
      height: 36px;
  }
  
  #t5 {
      background-color: rgb(191, 191, 191);
      left: 299px;
      top: 1361.67px;;
      transform: rotate(-30deg) skewX(-30deg) scale(1,.866);
  }
  #t5,
  #t5::before,
  #t5::after {
      width:  36px;
      height: 36px;
  }
  
  .line1 {
      width: 420px;
      height: 8px;
      background: rgb(142, 142, 147);
      position: absolute;
      left: 180px;
      top: 1530px;
	  border-radius:4px;
  }
  
  .line2 {
      width: 475px;
      height: 8px;
      background: rgb(220, 220, 220);
      position: absolute;
      left: 573px;
      top: 1530px;
	  border-radius: 4px;
  }

.circle1 {
	width: 70px;
	height: 70px;
	background: white;
	border-radius: 50%;
	filter:drop-shadow(0px 6px 8px rgba(0,0,0,0.3));
	position: absolute;
	left: 573px;
	top: 1499px;
}

.line3 {
      width: 270px;
      height: 8px;
		  background: rgb(142, 142, 147);
      position: absolute;
      left: 130px;
      top: 930px;
	  border-radius:4px;
  }
  
  .line4 {
      width: 700px;
      height: 8px;
      background: rgb(220, 220, 220);
      position: absolute;
      left: 390px;
      top: 930px;
	  border-radius: 4px;
  }

.circle2 {
	width: 24px;
	height: 24px;
	background: rgb(142, 142, 147);
	border-radius: 50%;
	filter:drop-shadow(0px 6px 8px rgba(0,0,0,0.2));
	position: absolute;
	left: 385px;
	top: 922px;
}

img {
	width: 800px;
	left: 210px;	
	position: absolute;
	border-radius: 15px;
	filter:drop-shadow(0px 0px 50px rgba(0,0,0,0.8));
}

.songname {
	font-size: 66px;
	left: 480px;
	top: 1050px;
	font-weight: bold;
	position: absolute;
}

.singer {
	font-size: 66px;
	left: 490px;
	top: 1140px;
	position: absolute;
	font-weight: bold;
	color :rgb(235, 69, 90);
}

.playtime {
	position: absolute;
    left: 130px;
    top: 950px;
	font-size: 36px;
	font-weight: bold;
	color: rgb(142, 142, 147);
}

.remaintime {
	position: absolute;
    left: 1008px;
    top: 950px;
	font-size: 36px;
	font-weight: bold;
	color: rgb(142, 142, 147);
}

.volume_small {
	top: 1525px;
	left: 125px;
	position: absolute;
	background: rgb(142, 142, 147);
	border-radius: 3px;
	height: 18px;
}
.volume_small::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 17.32px 10px 0px;
	border-color: transparent rgb(142, 142, 147) transparent transparent;
	left: 14px;
	position: relative;
	border-radius: 3px 3px 3px 3px;
}

.volume_large {
	top: 1525px;
	left: 1075px;
	position: absolute;
	background: rgb(142, 142, 147);
	border-radius: 3px;
	height: 18px;
}
.volume_large::before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 17.32px 10px 0px;
	border-color: transparent rgb(142, 142, 147) transparent transparent;
	left: 14px;
	position: relative;
	border-radius: 3px 3px 3px 3px;
}

.volume_circles {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 60px;
    height: 65px;
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: rgb(142, 142, 147);
    border-top-color: transparent;
    border-bottom-color: transparent;
	position: relative;
	left: 1065px;
	top: 1489px;
}
.volume_circles::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: rgb(142, 142, 147);
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.volume_circles::after {
    content: '';
    position: absolute;
    width: 20%;
    height: 20%;
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: rgb(142, 142, 147);
    border-top-color: transparent;
    border-bottom-color: transparent;
}
